<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foundation.icon.iconex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name="foundation.icon.ICONexApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashActivity"
            android:configChanges="fontScale"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dev_detail.WalletDetailActivity"/>
        <activity
            android:name=".intro.auth.AuthActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.ResetPasscodeActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IntroActivity"
            android:configChanges="fontScale|locale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CreateWalletActivity"
            android:theme="@style/DialogActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wallet.create.CreateWalletActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.ui.load.LoadWalletActivity"
            android:theme="@style/DialogActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dialogs.BottomItemSelectActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".wallet.main.MainActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.detail.WalletDetailActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.WalletAddressCodeActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transfer.ICONTransferActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".barcode.BarcodeCaptureActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:label="Read Barcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.contacts.ContactsActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.WalletBackUpActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.ViewWalletInfoActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.WalletPwdChangeActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".menu.bundle.ExportWalletBundleActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".wallet.transfer.EtherTransferActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".token.manage.TokenManageActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".menu.lock.SettingLockActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".view.ui.load.LoadBundleActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.NetworkErrorActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.appInfo.AppInfoActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="foundation.icon.connect.SelectWalletActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="foundation.icon.connect.EnterPasswordActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing" />
        <activity
            android:name="foundation.icon.connect.SendTxActivity"
            android:configChanges="fontScale"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name="foundation.icon.connect.ICONexConnectActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="iconex" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NetworkService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="foundation.icon.connect.ConnectReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="DEVELOPER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>