<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foundation.icon.iconex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".ICONexApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="AIzaSyBJQyG3bTgjsDyPn8_-IvxmQ37xHcjDA0g" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.auth.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.ResetPasscodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.create.CreateWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".wallet.load.LoadWalletActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".dialogs.BottomItemSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".wallet.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.detail.WalletDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.menu.WalletAddressCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transfer.ICONTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".barcode.BarcodeCaptureActivity"
            android:exported="false"
            android:label="Read Barcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.contacts.ContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.menu.WalletBackUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.menu.ViewWalletInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.menu.WalletPwdChangeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".wallet.menu.bundle.ExportWalletBundleActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".wallet.transfer.EtherTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".token.manage.TokenManageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".wallet.menu.lock.SettingLockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".wallet.menu.language.SettingLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.load.LoadBundleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".token.swap.TokenSwapActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".service.NetworkErrorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.menu.appInfo.AppInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transfer.EnterDataActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <service
            android:name=".service.NetworkService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>